<div class="row">
	<div class="span12">
		<h2>
			Here you will find all of your favorite animals
		</h2>
		<p>
			Bine ati venit in lumea animalelor, aici o sa gasiti toate felurile de animale posibile. Etc ETc Etc
		</p>
	</div>
</div>
